@{
  Layout = "_Layout";
}

@using RecipeBox.Models

<h3 style="text-align: center;">Welcome to BYR's Recipe Box!</h3>

<br></br>
<hr>
<br>
<br>
@if (Model.ContainsKey("Recipes"))
{
    @if (Model["Recipes"].Length == 0) {
  }
}
<div class="row">
  <div class="col-6">
<h5>Tags for @User.Identity.Name</h5>
@if (Model["Tags"].Length == 0)
  {
    <p>No Tags have been added yet!</p>
  } 
<ul>
  @foreach (Tag tag in Model["Tags"])
  {
    <li>@Html.ActionLink(@tag.Name, "Details", "Tags", new {id = @tag.TagId})</li>
  }
</ul>
</div>
@if (User.Identity.IsAuthenticated)
{
  <div class="col-6">
  <h5>Recipes for @User.Identity.Name</h5>
  @if (Model["Recipes"].Length == 0)
  {
    <p>No Recipes have been added yet!</p>
  } 
  <ul>
  
    @foreach (Recipe recipe in Model["Recipes"])
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", "Recipes", new { id = @recipe.RecipeId})</li>
    }
  </ul>
</div>
}
else
{
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your Recipes and Tags.</p>
}
</div>
  <p>@Html.ActionLink("Log out", "Index", "Account")</p>
  